h1 {
    color: #000000;
    text-align: center;
    font-weight: bold;
    align-items: center;
    font-family: caudex;
    font-style: normal;
    font-size: 64px;
}

h2 {
    text-align: center;
    font-weight: bold;
    align-items: center;
    font-family: caudex;
    font-style: normal;
    

}

p {
    width: 850px;
    align-items: center;
}

h1, h2,img{
  background-image: url('./images/Untitled\ image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

body {
    /* background-image: url('./images/DILIDO.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bolder;
}

div p {
    color: #954ACF;
    background-color: #C4C4C4;
    width: 200px;
    height: 21px;
    display: left;
}

h5 {
    margin-left: auto;
    display: inline;
    padding: 3px 3px 5px;

}

#contact {
    display: flex;
    justify-content: space-between;
}

.icons {
    display: flex;
   flex-direction: column;
   align-items: column;
}


#logo img{
    justify-content: center;
    margin-left: 600px;
}
.upper{
    display: flex;
    justify-content: space-between;
}

.dropdown {
    position: relative;
    display: block;
    padding-left: 50%;
    /* margin-left: 0%; */
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    color: royalblue;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd}
  
  
  .dropdown:hover .dropdown-content {display: list-item;}

  #nav {
      display: flex;
      /* background-color: red; */
      background-size: 30px;
  }

  #link {
      background-color: salmon;
      padding: 5%;
  }
  
  
  .dropdown:hover .dropbtn {background-color: #ddd;
    display: flex;
}

.footer-left{
    background-color: #f3ca20;
}

#hotel {
    display: flex;
    padding: space-between 23px;
}

.image {
    /* margin-left: 40%;
    margin-top: 5%; */
    display: flex;
    width: 40%;
    height: 40%;
    justify-content: space-between 20%;
}
